html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#F1FAEE, #A8DADC);
    display: flex;
    flex-direction: column;
}
h1{
    font-family: 'Press Start 2P', system-ui;
    font-size: 2.5em;
    text-align: center;
    color: #E63946;
    text-shadow: 2px 2px 2px #1D3557;
    /* background-color: #A8DADC; */
    padding: 20px;
    line-height: 1.5em;
    flex-shrink: 2;
    
}
.contenedor > div{
    float: left;
    margin: 30px;
    width: 300px;
    background-color: #A8DADC;
    padding: 20px;
    border-radius: 5px;
    flex-shrink: 1;
}
.tarjeta{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px #457B9D;
    
}
.tarjeta img{
    max-width: 80%;
    margin: auto;
    border-radius: 5px;
}
.tarjeta h2{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1D3557;
}
.tarjeta a{
    text-decoration: none;
    text-align: center;
    margin: 20px;
    color: #1D3557;
    font-family: 'Roboto', sans-serif;
    font-size: large;
}
.tarjeta a:hover{
    color: #E63946;
}
.tarjeta p{
    text-align: center;
    margin: 0 40px 20px 40px;
    font-family: 'Roboto', sans-serif;
    color: #457B9D;
}
