* {
    margin: 0;
    top: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: hsl(185, 75%, 39%);
    background-image: url(/frontend-mentor-html-css-challenges/challenges/profile-card-component-main/assets/images/bg-pattern-bottom.svg);
    /* background-size: cover; */
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: white;
    min-width: 22rem;
    height: 23.3rem;
    background-image: url(/frontend-mentor-html-css-challenges/challenges/profile-card-component-main/assets/images/bg-pattern-card.svg);
    background-size: 100% 37%;
    background-repeat: no-repeat;
    background-position: top;
    border-radius: 15px;
    padding: 90px 20px 22px 20px;
    font-family: "Kumbh Sans", sans-serif;
}

.card__avatar {
    width: 34%;
    border-radius: 100%;
    border: 5px solid white;
}

.card__title--age {
    font-weight: lighter;
    color: hsl(0, 0%, 59%);
    margin-left: 5px;
}

.card__city {
    color: hsl(0, 0%, 59%);
}

.card__divisor {
    width: 100%;
    background-color: hsl(0, 0%, 59%);
    height: 2px;
    /* margin: 0 -20px; */
    border: none;
}

.card__bottom {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.column__title {
    color: hsl(0, 0%, 59%);
    font-size: 9px;
    letter-spacing: 2px;
    margin: 5px;
}

.attribution {
    position: sticky; Porqué no se me cuadra como siempre lo hago
  
    
}