@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-light: #e0e7ff;
  --color-primary-dark: #312e81;

  --color-background-light: #f8fafc;
  --color-background-dark: #0f172a;

  --font-display: "Inter", ui-sans-serif, system-ui, sans-serif;
}