* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 50px;
    position: relative;
    background-color: hsl(204, 43%, 93%);
    font-size: 16px;
}

.card {
    display: grid;
    grid-template-columns: 19.9rem 19.9rem;
    grid-template-rows: 13.5rem 16rem;
    grid-template-areas: "top top"
                         "left right";
    font-family: "Karla", sans-serif;
}

.card__top {
    grid-area: top;
    padding: 2.6rem 1rem 1.4rem 2.7rem;
    border-radius: 5px 5px 0 0;
    background-color: white;
}

.top__title {
    color: hsl(179, 62%, 43%);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
}

.top__subtitle {
    color: hsl(71, 73%, 54%);
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 400;
}


.top__text {
    color: hsl(218, 22%, 67%);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    grid-area: left;
    background-color: hsl(179, 62%, 43%);
    color: white;
    padding: 2.6rem 1rem 1rem 2.7rem;
    border-radius: 0 0 0 5px;
}

.left__title {
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.left__price {
    font-size: 2rem;
    margin-bottom: 0.22rem;
}

.left__month {
    font-size: 1rem;
    font-weight: 200;
    position: relative;
    bottom: 3px;
}

.left__text {
    font-size: 1rem;
    margin-bottom: 2rem;
}

.left__button {
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    background-color: hsl(71, 73%, 54%);
    padding: 1rem ;
    max-width: 90%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.126);
}

.card__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: right;
    background-color: hsl(179, 48%, 61%);
    color: white;
    padding: 2.6rem 2.7rem;
    border-radius: 0 0 5px 0;
}

.right__title {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.right__text {
    font-size: 1rem;
    font-weight: 200;
    line-height: 0.5rem;
}

.foot {
    position: absolute;
    bottom: 0;
}

@media only screen and (max-width: 540px) {
    .card {
        display: flex;
        flex-direction: column;
        max-width: 19.4rem;
        margin: 0 20px;
    }

    .card__top {
        padding: 1.6rem;
    }

    .top__title {
        font-size: 1.2rem;
    }

    .top__text {
        font-size: 0.8rem;
        line-height: 1.8rem;
    }

    .card__left {
        border-radius: 0;
        padding: 1.4rem 1rem 1rem 1.4rem;
    }

    .left__button {
        max-width: 96%;
    }

    .card__right {
        border-radius: 0 0 5px 5px;
        padding: 2.4rem 1rem 1rem 1.4rem;
    }

    .right__text {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}