html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#F1FAEE, #A8DADC);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    gap: 1rem;
    /* max-width: 80%; */
    padding: 20px;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: clamp(1.76rem, 0.64vw + 1.6rem, 2.11rem);
    color: #E63946;
    text-shadow: 2px 2px 2px #1D3557;
    line-height: 1.25;
    padding: 5rem;
    /* background-color: #1D3557; */
}
.card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 2px 2px 2px #457B9D;
    background-color: #A8DADC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1D3557;
}
h2{
    font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);;
}
.card iframe{
    padding: 0 40px;
}
.card a{
    text-decoration: none;
    margin: 20px;
    font-size: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);;
}
.card a:hover{
    color: #E63946;
}
.card p{
    margin: 0 40px 20px 40px;
    color: #457B9D;
    font-size: clamp(1.13rem, 0.11vw + 1.1rem, 1.19rem);
}

/* --font-size-sm: clamp(0.9rem, -0.02vw + 0.9rem, 0.89rem);
--font-size-base: clamp(1.13rem, 0.11vw + 1.1rem, 1.19rem);
--font-size-md: clamp(1.41rem, 0.32vw + 1.33rem, 1.58rem);
--font-size-lg: clamp(1.76rem, 0.64vw + 1.6rem, 2.11rem);
--font-size-xl: clamp(2.2rem, 1.12vw + 1.92rem, 2.81rem);
--font-size-xxl: clamp(2.75rem, 1.82vw + 2.29rem, 3.75rem);
--font-size-xxxl: clamp(3.43rem, 2.84vw + 2.72rem, 5rem); */