
html{
    height: auto;
    min-height: 100%;
}
body{
    background: linear-gradient(#9ebaeb, #cca8dc);
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 25rem), 1fr));
    gap: 1rem;
    /* max-width: 80%; */
    padding: 20px;
    border-radius: 5px;
}
h1{
    text-align: center;
    font-family: 'Press Start 2P', system-ui;
    font-size: clamp(2.62rem, 0.89vw + 2.39rem, 3.11rem);
    color: #E63946;
    text-shadow: 2px 2px 2px #1D3557;
    line-height: 1.25;
    padding: 5rem;
    /* background-color: #1D3557; */
}
.card{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    box-shadow: 2px 2px 2px #457B9D;
    background-color: #A8DADC;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #1D3557;
}
h2{
    font-size: clamp(1.62rem, 0.55vw + 1.48rem, 1.92rem);
}
.card iframe{
    padding: 0 40px;
}
.card a{
    text-decoration: none;
    margin: 20px;
    font-size: clamp(1.62rem, 0.55vw + 1.48rem, 1.92rem);
}
.card a:hover{
    color: #E63946;
}
.card p{
    margin: 0 40px 20px 40px;
    color: #457B9D;
    font-size: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
}
@media only screen and (max-width: 750px) {
    h1{
        font-size: clamp(1.62rem, 0.55vw + 1.48rem, 1.92rem);
        padding: 1rem;
    }
}

/* --font-size-sm: clamp(0.62rem, 0.21vw + 0.57rem, 0.73rem);
--font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
--font-size-md: clamp(1.62rem, 0.55vw + 1.48rem, 1.92rem);
--font-size-lg: clamp(2.62rem, 0.89vw + 2.39rem, 3.11rem);
--font-size-xl: clamp(4.24rem, 1.44vw + 3.87rem, 5.03rem);
--font-size-xxl: clamp(6.85rem, 2.34vw + 6.27rem, 8.14rem);
--font-size-xxxl: clamp(11.09rem, 3.78vw + 10.14rem, 13.17rem); */