$blueBackground: hsl(226, 43%, 10%);
$darkBlueCard: hsl(235, 46%, 20%);
$blueLeftCard: hsl(246, 80%, 60%);
$hoverBlue: hsl(235, 45%, 61%);
$fontColorB: hsl(236, 100%, 87%);

$orangeWorkCard: hsl(15, 100%, 70%);
$bluePlayCard: hsl(195, 74%, 62%);
$redStudyCard: hsl(348, 100%, 68%);
$greenExerciseCard: hsl(145, 58%, 55%);
$violetSocialCard: hsl(264, 64%, 52%);
$yellowSelfCard: hsl(43, 84%, 65%);

$white: white;
